BOT_TOKEN=933869078:AAEQ2dF-fZ9sB4wzCkGiMXq3DaiVO57ALqA
ADMIN_GROUP_ID=-1003808334368
# Для приватного канала указывайте полный id с префиксом -100
CHANNEL_ID=-1003920673030
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tm_academy
DB_USER=postgres
DB_PASS=postgres
REDIS_URL=redis://localhost:6379/0
COURSE_PRICE="17 $ (1499 сом)"
WEBHOOK_HOST=
WEBHOOK_PATH=/webhook
